
.pricing__section {
    padding: 100px 0 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
  }
.background__title{
    width: 100px;
    background-color: #fff;
    height: 100px;
}
  .pricing__container__card {
    
    display: flex;
    grid-area: image;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
 
    text-decoration: none;
    border-radius: 32px;
  }
  .pricing__container__card2 {
    padding-left: 0.5rem;
    margin-right: 7rem;
    grid-area: texttt;
    box-shadow: #242424;
    background-color: #242424;
    width: 500px;

    text-decoration: none;
    border-radius: 32px;
  }
  .pricing__container__card:nth-child(2) {
    transform: scale(1.05);
    background: #fff;
  }
  .pricing__container__card2:nth-child(2) {
    transform: scale(1.05);
    background: #fff;
  }
  .pricing__container__card:hover {
    
  }
  .pricing__container__card2:hover {
    
  }
  .space{
      
      grid-area: space;
  }
  .pricing__container__card:nth-child(2) {
    margin: 0 0 rem ;
  }
  .pricing__container__card2:nth-child(2) {
    margin: 0 0 rem ;
  }
  
  .pricing__container {
    display: grid;
    
    grid-template-areas: "image image texttt";
    grid-template-columns: 1fr 1fr 1fr;

  }
  
  .pricing__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
  }
  
  .pricing__heading {
    color: #fff;
    margin-bottom: 24px;
    padding-left: 560px;
  }
  
  .pricing__container__cardInfo {
    display: flex;
    flex-direction: column;

    padding: 24px;
    align-items: flex-start;
    color: black;
  }
  
  .pricing__container__cardInfo h3 {
    
    margin-bottom: 5px;
    font-size: 32px;
    color: #fff;
  
  }
  
  .pricing__container__cardInfo h4 {
    
    padding-top: 18px;
    font-size: 24px;
    color: #fff;
  }
  
  .pricing__container__cardInfo p {
    font-size: 14px;
    margin-bottom: 24px;
    color: #fff;
  }
  
  .pricing__container__features {
    padding-top: 50px;
    margin: 16px 0 32px;
    list-style: none;
  }
  
  .pricing__container__features li {
    margin-bottom: 10px;
  }
  
  .pricing__container__features {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon {
    margin: 24px 0;
  }
  
  @media screen and (max-width: 960px) {
    .pricing__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .pricing__container__card2 {
        margin-left: 0px;
        
       
        width: 300px;
        height: 380px;
        
      }
      .pricing__container__cardInfo h4 {
        
        padding-top: 0px;
        font-size: 24px;
        color: #fff;
      }
      
      .pricing__container__cardInfo p {
        font-size: 14px;
        
        color: #fff;
      }
    .pricing__container__card {
      width: 90%;
    }
  
    .pricing__wrapper {
      margin: 0 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .pricing__container__card:nth-child(2) {
      transform: scale(1);
      background: #242424;
      margin: 24px;
    }
  
    .pricing__container__card:hover {
      transform: none;
    }
  }